body {
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff;
  color: #333333;
  font-size: 16px;
  overflow-x: hidden;
}

/*Individual site components */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin: 0;
}

img {
  border: none;
}

#co-error-message {
  background-color: #333333;
  color: #01bafd;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

#co-error-message p {
  margin: 0;
} 

#error-message-close {
  cursor: pointer;
  float: right;
}

.co-read-more-btn {
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.co-read-more-btn:hover, 
.co-read-more-btn:focus {
  background-color: #01bafd;
  border-color: #01bafd;
  color: #fff;
}

/*==================NAVBAR SECTION====================*/

#co-menu {
  display: inline;
  float: left;
  width: 100%;
}
#co-menu .navbar-header .navbar-brand {
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 20px;
  letter-spacing: 0.5px;
}
#co-menu .navbar-header .navbar-brand i {
  font-size: 35px;
}
#co-menu .navbar-header .navbar-brand span {
  margin-left: 4px;
}
#co-menu .navbar-default {
  background-color: #fff;
  border-radius: 0;
  border-left: none;
  border-right: none;
  margin-bottom: 0px;
}
#co-menu .navbar-default .navbar-nav li > a {
  border-bottom: 2px solid transparent;
  padding-bottom: 25px;
  padding-top: 25px;
  margin-bottom: -1px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#co-menu .navbar-default .navbar-nav li #co-search-icon:hover, 
#co-menu .navbar-default .navbar-nav li #co-search-icon:focus {
  border: none;
}
#co-menu .navbar-default .navbar-nav li .dropdown-menu {
  border-radius: 0px;
}
#co-menu .navbar-default .navbar-nav li .dropdown-menu li a {
  color: #333333;
  padding-top: 10px;
  padding-bottom: 10px;
}
#co-menu .navbar-default .navbar-nav li .dropdown-menu li a:hover, 
#co-menu .navbar-default .navbar-nav li .dropdown-menu li a:focus {
  color: #fff;
}
#co-menu .navbar-default .navbar-nav .open a:hover, 
#co-menu .navbar-default .navbar-nav .open a:focus {
  color: #fff;
}

#co-search {
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
  left: 0;
  opacity: 1;
  position: fixed;
  top: 0;
  transform: translateY(-100%) scale(0);
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  width: 100%;
  z-index: 99999;
}
#co-search .co-search-area {
  display: inline;
  float: left;
  width: 100%;
  padding: 20% 0;
  text-align: center;
}
#co-search .co-search-area .co-search-close {
  border: none;
  color: #fff;
  display: inline-block;
  font-size: 25px;
  outline: none;
  height: 50px;
  line-height: 50px;
  position: absolute;
  right: 100px;
  text-align: center;
  top: 50px;
  width: 50px;
}
#co-search .co-search-area .co-search-form input[type="search"] {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  font-size: 45px;
  font-family: "Montserrat", sans-serif;
  height: 100px;
  outline: medium none;
  text-align: center;
  width: 100%;
}

#co-search.co-search-open {
  transform: translateY(0) scale(1);
}

#co-menu .navbar-header .navbar-brand i {
  color: #01bafd;
}
#co-menu .navbar-default .navbar-nav li > a:hover, 
#co-menu .navbar-default .navbar-nav li > a:focus {
  border-color: #01bafd;
  color: #01bafd;
}
#co-menu .navbar-default .navbar-nav li .dropdown-menu {
  border-top: 2px solid #01bafd;
}
#co-menu .navbar-default .navbar-nav li .dropdown-menu li a:hover, 
#co-menu .navbar-default .navbar-nav li .dropdown-menu li a:focus {
  background-color: #01bafd;
}
#co-menu .navbar-default .navbar-nav .open a:hover, 
#co-menu .navbar-default .navbar-nav .open a:focus {
  background-color: #01bafd;
}

#co-menu .navbar-default .navbar-nav > .active > a, 
#co-menu .navbar-default .navbar-nav > .active > a:hover, 
#co-menu .navbar-default .navbar-nav > .active > a:focus {
  color: #01bafd;
  border-bottom: 2px solid #01bafd;
  background-color: transparent;
}

#co-search .co-search-area .co-search-close {
  background-color: #01bafd;
}


/*==================SLIDER SECTION====================*/

#co-slider {
  display: inline;
  float: left;
  width: 100%;
}
#co-slider .co-slider-single {
  display: inline;
  float: left;
  width: 100%;
  position: relative;
}
#co-slider .co-slider-single .co-slider-img {
  display: inline;
  float: left;
  width: 100%;
  height: 500px;
}
#co-slider .co-slider-single .co-slider-img:after {
  background-color: rgba(0, 0, 0, 0.5);
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#co-slider .co-slider-single .co-slider-img figure {
  height: 100%;
  width: 100%;
}
#co-slider .co-slider-single .co-slider-img figure img {
  width: 100%;
  height: 100%;
}
#co-slider .co-slider-single .co-slider-content {
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  padding: 0 15%;
  width: 100%;
  text-align: center;
  height: 100%;
}
#co-slider .co-slider-single .co-slider-content h4 {
  letter-spacing: 1px;
  margin-bottom: 0;
}
#co-slider .co-slider-single .co-slider-content span {
  display: inline-block;
  height: 1px;
  width: 100px;
}
#co-slider .co-slider-single .co-slider-content h2 {
  font-size: 50px;
  line-height: 80px;
  margin-bottom: 10px;
}
#co-slider .co-slider-single .co-slider-content p {
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 28px;
}
#co-slider .co-slider-single .co-slider-content a {
  margin-top: 25px;
}
#co-slider .slick-prev,
#co-slider .slick-next {
  height: 60px;
  width: 60px;
}
#co-slider .slick-prev:before,
#co-slider .slick-next:before {
  color: #fff;
  font-size: 25px;
}

#co-slider .co-slider-single .co-slider-content span {
  background-color: #01bafd;
}
#co-slider .slick-prev,
#co-slider .slick-next {
  background-color: #01bafd;
}

/*==================SERVICE SECTION====================*/

#co-service {
  display: inline;
  float: left;
  margin-top: -80px;
  width: 100%;
}
#co-service .co-service-area {
  display: inline;
  float: left;
  width: 100%;
}
#co-service .co-service-area .co-service-single {
  background-color: #01bafd;
  color: #fff;
  display: inline;
  float: left;
  padding: 35px 25px;
  text-align: center;
  width: 33.33%;
}
#co-service .co-service-area .co-service-single:nth-child(2) {
  background-color: #2ecc71;
}
#co-service .co-service-area .co-service-single:nth-child(3) {
  background-color: #45a0de;
}
#co-service .co-service-area .co-service-single span {
  font-size: 30px;
}
#co-service .co-service-area .co-service-single h3 {
  font-size: 25px;
}
#co-service .co-service-area .co-service-single p {
  font-weight: lighter;
}


/*==================ABOUT SECTION====================*/

#co-about-us {
  display: inline;
  float: left;
  width: 100%;
  padding: 100px 0;
}
#co-about-us .co-about-us-area {
  display: inline;
  float: left;
  width: 100%;
}
#co-about-us .co-about-us-area .co-about-us-left {
  display: inline;
  float: left;
  width: 100%;
}
#co-about-us .co-about-us-area .co-about-us-left h2 {
  font-size: 40px;
  margin-bottom: 20px;
  text-align: left;
}
#co-about-us .co-about-us-area .co-about-us-left ul {
  margin-left: 25px;
  margin-bottom: 15px;
}
#co-about-us .co-about-us-area .co-about-us-left ul li {
  line-height: 30px;
  list-style: circle;
}
#co-about-us .co-about-us-area .co-about-us-right {
  display: inline;
  float: left;
  width: 100%;
  display: block;
  width: 100%;
  background-color: #ccc;
}
#co-about-us .co-about-us-area .co-about-us-right a {
  display: block;
  width: 100%;
  position: relative;
}
#co-about-us .co-about-us-area .co-about-us-right a img {
  width: 100%;
}
#co-about-us .co-about-us-area .co-about-us-right a:after {
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
  color: #ddd;
  content: '\f04b';
  font-family: fontAwesome;
  font-size: 50px;
  left: 0;
  padding-top: 27%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

/*==== about us dynamic video player ====*/
#about-video-popup {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  text-align: center;
  bottom: 0;
  z-index: 99999;
}
#about-video-popup span {
  color: #fff;
  cursor: pointer;
  float: right;
  font-size: 30px;
  margin-right: 50px;
  margin-top: 50px;
}
#about-video-popup iframe {
  background: url(../images/loader.gif) center center no-repeat;
  margin: 10% auto;
  width: 650px;
  height: 450px;
}

.co-title {
  display: inline;
  float: left;
  text-align: center;
  width: 100%;
}
.co-title h2 {
  color: #000;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.co-title p {
  color: #555;
  letter-spacing: 0.3px;
  line-height: 1.7;
  padding: 0 120px;
}

/*==================LATEST COURSES SECTION====================*/

#co-partners {
  display: inline;
  float: left;
  padding: 20px 0;
  width: 100%;
}

#co-partners .co-partners-area {
  display: inline;
  float: left;
  width: 100%;
}

#co-partners .co-partners-area .co-partners-content {
  display: inline;
  float: left;
  width: 100%;
}

#co-partners .co-partners-area .co-partners-content .slick-slide {
  outline: none;
}

.co-partner-single {
  background-color: #fff;
  display: inline;
  float: left;
  width: 100%;
}

.co-partner-single .co-partner-img {
  display: inline;
  float: left;
  width: 100%;
}

.co-partner-single .co-partner-img img {
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}


#co-partners .co-partners-area .co-partners-content .slick-dots .slick-active {
  background-color: #01bafd;
}

#co-partners .co-partners-area .co-partners-content .slick-arrow {
  background-color: #01bafd;
}


/*==================LATEST COURSES SECTION====================*/

#co-latest-courses {
  background-color: #333;
  display: inline;
  float: left;
  padding: 100px 0;
  width: 100%;
}
#co-latest-courses .co-latest-courses-area {
  display: inline;
  float: left;
  width: 100%;
}
#co-latest-courses .co-latest-courses-area .co-title h2 {
  color: #fff;
}
#co-latest-courses .co-latest-courses-area .co-latest-courses-content {
  display: inline;
  float: left;
  margin-top: 50px;
  width: 100%;
}
#co-latest-courses .co-latest-courses-area .co-latest-courses-content .slick-slide {
  outline: none;
}
#co-latest-courses .co-latest-courses-area .co-latest-courses-content .slick-dots li {
  background-color: #fff;
  border-radius: 4px;
  height: 8px;
  width: 20px;
}
#co-latest-courses .co-latest-courses-area .co-latest-courses-content .slick-dots li button {
  display: none;
}

.co-latest-course-single {
  background-color: #fff;
  display: inline;
  float: left;
  width: 100%;
}
.co-latest-course-single .co-latest-course-img {
  display: inline;
  float: left;
  width: 100%;
}
.co-latest-course-single .co-latest-course-img a {
  display: block;
}
.co-latest-course-single .co-latest-course-img a img {
  width: 100%;
}
.co-latest-course-single .co-latest-course-img .co-latest-course-imgcaption {
  background-color: #f8f8f8;
  display: inline;
  float: left;
  padding: 10px 15px;
  width: 100%;
}
.co-latest-course-single .co-latest-course-img .co-latest-course-imgcaption a {
  display: inline-block;
  float: left;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.co-latest-course-single .co-latest-course-img .co-latest-course-imgcaption a {
  font-size: 11px;
}
.co-latest-course-single .co-latest-course-single-content {
  display: inline;
  float: left;
  width: 100%;
  padding: 15px;
}
.co-latest-course-single .co-latest-course-single-content h3 {
  color: #333;
  line-height: 1.4;
}
.co-latest-course-single .co-latest-course-single-content h3 a {
  color: #333;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.co-latest-course-single .co-latest-course-single-content .co-latest-course-single-contbottom {
  border-top: 1px solid #ccc;
  display: inline;
  float: left;
  margin-top: 15px;
  padding-top: 15px;
  width: 100%;
}
.co-latest-course-single .co-latest-course-single-content .co-latest-course-single-contbottom .co-course-details {
  display: inline-block;
  float: left;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.co-latest-course-single .co-latest-course-single-content .co-latest-course-single-contbottom .co-course-details:hover, 
.co-latest-course-single .co-latest-course-single-content .co-latest-course-single-contbottom .co-course-details:focus {
  color: #333;
}
.co-latest-course-single .co-latest-course-single-content .co-latest-course-single-contbottom .co-course-price {
  display: inline-block;
  float: right;
}

#co-latest-courses .co-latest-courses-area .co-latest-courses-content .slick-dots .slick-active {
  background-color: #01bafd;
}

#co-latest-courses .co-latest-courses-area .co-latest-courses-content .slick-arrow {
  background-color: #01bafd;
}

.co-latest-course-single .co-latest-course-img .co-latest-course-imgcaption a:hover, 
.co-latest-course-single .co-latest-course-img .co-latest-course-imgcaption a:focus {
  color: #01bafd;
}
.co-latest-course-single .co-latest-course-single-content h3 a:hover, 
.co-latest-course-single .co-latest-course-single-content h3 a:focus {
  color: #01bafd;
}
.co-latest-course-single .co-latest-course-single-content .co-latest-course-single-contbottom .co-course-details {
  color: #01bafd;
}

/*==================TESTIMONIAL SECTION====================*/


#co-testimonial {
  background-attachment: fixed;
  background-image: url("../images/testimonial-bg.jpg");
  background-position: center center;
  background-size: cover;
  display: inline;
  float: left;
  padding: 100px 0;
  position: relative;
  width: 100%;
  z-index: 10;
}
#co-testimonial:after {
  background-color: rgba(0, 0, 0, 0.8);
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
#co-testimonial .co-testimonial-area {
  display: inline;
  float: left;
  padding: 0 150px;
  position: relative;
  width: 100%;
  z-index: 99;
}
#co-testimonial .co-testimonial-area .co-testimonial-content {
  display: inline;
  float: left;
  width: 100%;
}
#co-testimonial .co-testimonial-area .co-testimonial-content .co-testimonial-item {
  display: inline;
  float: left;
  width: 100%;
  outline: none;
}
#co-testimonial .co-testimonial-area .co-testimonial-content .co-testimonial-item .co-testimonial-quote {
  background-color: #333;
  border-radius: 4px;
  display: inline;
  float: left;
  padding: 60px 30px;
  width: 100%;
}
#co-testimonial .co-testimonial-area .co-testimonial-content .co-testimonial-item .co-testimonial-quote blockquote {
  border: none;
  text-align: center;
  margin-bottom: 0;
  position: relative;
}
#co-testimonial .co-testimonial-area .co-testimonial-content .co-testimonial-item .co-testimonial-quote blockquote:before {
  content: '\f10d';
  color: #fff;
  font-family: fontAwesome;
  font-style: italic;
  left: 2%;
  position: absolute;
  top: 0;
}
#co-testimonial .co-testimonial-area .co-testimonial-content .co-testimonial-item .co-testimonial-quote blockquote p {
  color: #fff;
  font-size: 16px;
  font-style: italic;
  letter-spacing: 0.5px;
  line-height: 1.8;
  margin-bottom: 0;
}
#co-testimonial .co-testimonial-area .co-testimonial-content .co-testimonial-item .co-testimonial-img {
  display: inline;
  float: left;
  width: 100%;
  text-align: center;
}
#co-testimonial .co-testimonial-area .co-testimonial-content .co-testimonial-item .co-testimonial-img img {
  background-color: #555;
  border: 1px solid #888;
  border-radius: 50%;
  margin: -50px auto 5px;
  padding: 0;
  width: 120px;
}
#co-testimonial .co-testimonial-area .co-testimonial-content .co-testimonial-item .co-testimonial-info {
  display: inline;
  float: left;
  width: 100%;
  text-align: center;
}
#co-testimonial .co-testimonial-area .co-testimonial-content .co-testimonial-item .co-testimonial-info h4 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 0px;
}
#co-testimonial .co-testimonial-area .co-testimonial-content .co-testimonial-item .co-testimonial-info span {
  font-size: 14px;
  letter-spacing: 0.3px;
}
#co-testimonial .co-testimonial-area .co-testimonial-content .slick-dots li {
  background-color: #fff;
  height: 8px;
  width: 20px;
}
#co-testimonial .co-testimonial-area .co-testimonial-content .slick-dots li button {
  display: none;
}

#co-testimonial .co-testimonial-area .co-testimonial-content .co-testimonial-item .co-testimonial-info span {
  color: #01bafd;
}
#co-testimonial .co-testimonial-area .co-testimonial-content .slick-dots .slick-active {
  background-color: #01bafd;
}


/*==================SEARCH RESULT PAGE====================*/

#co-search-courses {
  background-color:#fff;
  display: inline;
  float: left;
  padding: 60px 0;
  width: 100%;
}

#co-search-courses .co-title {
  padding-bottom: 40px;
}

#co-search-courses .co-search-courses-content {
  background-color:#eee; 
  float: left;
}

.co-search-courses-content .co-search-course-single {
  background-color:#fff;
  height: 300px;
  overflow: auto;
  padding: 10px;
  position: relative;
  width: 100%;
}

.co-search-course-single .co-search-course-img img{
  outline: 5px solid #eee;
	height: 50px;
  padding: 4px;
  width: 100%;
}

.co-search-details {
  margin-top: 10px;
  margin-bottom: 10px;
}

.co-search-course-single-content .co-search-course-single-contbottom h5,
.co-search-course-single-content .co-search-course-single-contbottom h6 {
  padding-top: 10px;
  text-align: center;
}

.co-search-course-details {
  border: 1px solid #333333;
  bottom:5%;
  color: #333333;
  display: inline-block;
  font-size: 12px;
  left: 50%;
  margin-left: -60px;
  padding: 5px 8px;
  position: absolute;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  text-align: center;
  transition: all 0.5s;
  width: 120px;
}

.co-search-course-details:hover, 
.co-search-course-details:focus {
  background-color: #01bafd;
  border-color: #01bafd;
  color: #fff;
}

.co-pagination {
  display: inline;
  float: left;
  width: 100%;
}
.co-pagination .pagination li:first-child a {
  border-radius: 0;
}
.co-pagination .pagination li:first-child a span {
  margin-right: 5px;
}
.co-pagination .pagination li:last-child a {
  border-radius: 0;
}
.co-pagination .pagination li:last-child a span {
  margin-left: 5px;
}
.co-pagination .pagination li a {
  color: #333;
  margin: 0 5px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.co-pagination .pagination li a:hover, .co-pagination .pagination li a:focus {
  color: #fff;
}
.co-pagination .pagination .active a {
  color: #fff;
}

.co-pagination .pagination li a:hover, .co-pagination .pagination li a:focus {
  background-color: #01bafd;
  border-color: #01bafd;
}
.co-pagination .pagination .active a {
  background-color: #01bafd;
  border-color: #01bafd;
}

.co-search-filter-area {
  background-color: #eee;
  display: inline;
  float: left;
  width: 100%;
}

.co-search-filter-single {
  padding: 0 20px 20px 20px;
}

.co-search-filter-single input {
  line-height: 1.9;
}

.co-search-filter-single span {
  float: right;
}

.co-search-filter-single a {
  color: #01bafd;
}
/*==================FOOTER====================*/

#co-footer {
  display: inline;
  float: left;
  width: 100%;
}
#co-footer .co-footer-top {
  background-color: #333;
  display: inline;
  float: left;
  padding: 50px 0;
  width: 100%;
}
#co-footer .co-footer-top .co-footer-top-area {
  display: inline;
  float: left;
  width: 100%;
}
#co-footer .co-footer-top .co-footer-top-area .co-footer-widget {
  display: inline;
  float: left;
  width: 100%;
}
#co-footer .co-footer-top .co-footer-top-area .co-footer-widget h4 {
  color: #fff;
  margin-bottom: 15px;
  text-transform: uppercase;
}
#co-footer .co-footer-top .co-footer-top-area .co-footer-widget ul li a {
  color: #f9f9f9;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  padding: 5px 0 5px 15px;
  position: relative;
  text-transform: capitalize;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#co-footer .co-footer-top .co-footer-top-area .co-footer-widget ul li a:before {
  content: "\f101";
  font-family: FontAwesome;
  left: 0;
  position: absolute;
  top: 5px;
}
#co-footer .co-footer-top .co-footer-top-area .co-footer-widget ul li a:hover, 
#co-footer .co-footer-top .co-footer-top-area .co-footer-widget ul li a:focus {
  margin-left: 5px;
}
#co-footer .co-footer-top .co-footer-top-area .co-footer-widget p {
  color: #f9f9f9;
}

#co-footer .co-footer-top .co-footer-top-area .co-footer-widget p {
  font-weight: lighter;
  letter-spacing: 0.5px;
}
#co-footer .co-footer-bottom {
  background-color: #222;
  display: inline;
  float: left;
  padding: 25px 0;
  width: 100%;
}
#co-footer .co-footer-bottom .co-footer-bottom-area {
  display: inline;
  float: left;
  text-align: center;
  width: 100%;
  word-wrap: break-word;
}
#co-footer .co-footer-bottom .co-footer-bottom-area p {
  color: #fff;
  margin-bottom: 0;
  letter-spacing: 0.3px;
}
#co-footer .co-footer-bottom .co-footer-bottom-area p a {
  color: #fff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#co-footer .co-footer-bottom .co-footer-bottom-area p a:hover, 
#co-footer .co-footer-bottom .co-footer-bottom-area p a:focus {
  color: #01bafd;
}

#co-footer .co-footer-top .co-footer-top-area .co-footer-widget ul li a:hover, 
#co-footer .co-footer-top .co-footer-top-area .co-footer-widget ul li a:focus {
  color: #01bafd;
}


/*==================RESPONSIVE DESIGN====================*/

@media (max-width: 1199px) {
  #co-slider .co-slider-single .co-slider-content {
    padding: 0 10%;
  }

  #co-slider .co-slider-single .co-slider-content {
    top: 13%;
  }
}
@media (max-width: 991px) {
  #co-menu .navbar-default .navbar-nav li > a {
    font-size: 15px;
    padding: 25px 10px;
  }

  #co-search .co-search-area {
    padding: 30% 0;
  }

  #co-slider .co-slider-single .co-slider-content h2 {
    font-size: 35px;
    line-height: 65px;
    margin-bottom: 0;
  }

  #co-slider .co-slider-single .co-slider-img {
    height: 400px;
  }

  #co-slider .co-slider-single .co-slider-content a {
    font-size: 15px;
    margin-top: 5px;
    padding: 5px 15px;
  }

  #co-slider .co-slider-single .co-slider-content p {
    font-size: 16px;
    line-height: 1.5;
  }

  #co-service .co-service-area .co-service-single h3 {
    font-size: 20px;
  }

  #co-about-us {
    padding: 60px 0;
  }

  #co-about-us .co-about-us-area .co-about-us-right {
    margin-top: 30px;
  }

  #co-abtus-counter {
    background-size: 100% 100%;
    padding: 60px 0;
  }

  #co-abtus-counter .co-abtus-counter-area .co-abtus-counter-single span {
    font-size: 40px;
  }

  #co-abtus-counter .co-abtus-counter-area .co-abtus-counter-single h4 {
    font-size: 30px;
    margin-top: 15px;
  }

  #about-video-popup span {
    top: 20px;
    position: absolute;
    right: 20px;
  }

  .co-title p {
    padding: 0 20px;
  }

  #co-latest-courses {
    padding: 60px 0 90px;
  }

   #co-testimonial .co-testimonial-area {
    padding: 0 20px;
  }

  #co-testimonial .co-testimonial-area .co-testimonial-content .co-testimonial-item .co-testimonial-quote {
    padding: 60px 15px;
  }

  #co-testimonial .co-testimonial-area .co-testimonial-content .co-testimonial-item .co-testimonial-quote blockquote::before {
    left: 0;
  }

  #co-search .co-search-area .co-search-form input[type="search"] {
    font-size: 30px;
  }

  #co-search .co-search-area .co-search-close {
    right: 50px;
  }

  #co-search .co-search-area {
    padding: 35% 0;
  }
}
@media (max-width: 767px) {
  .navbar-header {
    padding: 10px 0;
  }

  #co-menu .navbar-header .navbar-brand {
    padding-top: 10px;
  }

  .navbar-toggle {
    background-color: #01bafd;
    border-radius: 0;
  }

  .navbar-default .navbar-toggle {
    border-color: #01bafd;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }

  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #01bafd;
  }

  #co-menu .navbar-default .navbar-nav li > a {
    padding: 15px 20px;
  }

  #co-slider .co-slider-single .co-slider-content h2 {
    font-size: 30px;
    line-height: 60px;
  }

  #co-latest-courses .co-latest-courses-area .co-latest-courses-content .co-latest-course-single .co-latest-course-img .co-latest-course-imgcaption a {
    font-size: 14px;
  }

  #co-latest-courses .co-latest-courses-area .co-latest-courses-content .co-latest-course-single .co-latest-course-img .co-latest-course-imgcaption span {
    font-size: 14px;
  }

  #co-footer .co-footer-top .co-footer-top-area .co-footer-widget {
    margin-bottom: 30px;
    text-align: center;
  }

  #about-video-popup iframe {
    height: 350px;
    width: 80%;
  }

  #about-video-popup span {
    position: absolute;
    right: 30px;
    top: 30px;
    margin-right: 0;
    margin-top: 0;
  }
}
@media (max-width: 640px) {
  #co-slider .co-slider-single .co-slider-content h2 {
    font-size: 25px;
    line-height: 50px;
  }

  #co-slider .co-slider-single .co-slider-img {
    height: 350px;
  }

  #co-slider .co-slider-single .co-slider-content h4 {
    letter-spacing: 0;
  }

  #co-service {
    margin-top: 30px;
  }

  #co-service .co-service-area .co-service-single {
    padding: 20px 5px;
  }

  #co-service .co-service-area .co-service-single h3 {
    font-size: 16px;
  }

  #co-slider .co-slider-single .co-slider-img figure img {
    width: auto;
  }
}
@media (max-width: 480px) {
  #co-slider .co-slider-single .co-slider-content h2 {
    font-size: 18px;
    line-height: 35px;
  }

  #co-slider .co-slider-single .co-slider-content h4 {
    font-size: 15px;
    line-height: 16px;
  }

  #co-slider .co-slider-single .co-slider-content p {
    font-size: 14px;
    line-height: 1.5;
  }

  #co-slider .co-slider-single .co-slider-content {
    padding: 0 2%;
  }

  #co-slider .co-slider-single .co-slider-content {
    top: 5%;
  }

  #co-slider .slick-prev, #co-slider .slick-next {
    height: 40px;
    width: 40px;
  }

  #co-slider .co-slider-single .co-slider-img {
    height: 270px;
  }

  #co-service .co-service-area .co-service-single {
    padding: 20px 15px;
    width: 100%;
  }

  #co-service .co-service-area .co-service-single h3 {
    font-size: 18px;
  }

  #about-video-popup iframe {
    height: 300px;
    margin: 5% auto;
    width: 80%;
  } 
  .co-pagination {
    text-align: center;
  }

  .co-pagination .pagination li a {
    font-size: 14px;
    margin: 0 2px;
    padding: 5px 12px;
  }
}

@media (max-width: 360px) {
  
}

