body {
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff;
  color: #333333;
  font-size: 16px;
  overflow-x: hidden;
}

/*Individual site components */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin: 0;
}

img {
  border: none;
}

.co-read-more-btn {
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.co-read-more-btn:hover, 
.co-read-more-btn:focus {
  background-color: #01bafd;
  border-color: #01bafd;
  color: #fff;
}

/*==================NAVBAR SECTION====================*/

#co-menu {
  display: inline;
  float: left;
  width: 100%;
}
#co-menu .navbar-header .navbar-brand {
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 20px;
  letter-spacing: 0.5px;
}
#co-menu .navbar-header .navbar-brand i {
  font-size: 35px;
}
#co-menu .navbar-header .navbar-brand span {
  margin-left: 4px;
}
#co-menu .navbar-default {
  background-color: #fff;
  border-radius: 0;
  border-left: none;
  border-right: none;
  margin-bottom: 0px;
}
#co-menu .navbar-default .navbar-nav li > a {
  border-bottom: 2px solid transparent;
  padding-bottom: 25px;
  padding-top: 25px;
  margin-bottom: -1px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#co-menu .navbar-default .navbar-nav li #co-search-icon:hover, 
#co-menu .navbar-default .navbar-nav li #co-search-icon:focus {
  border: none;
}
#co-menu .navbar-default .navbar-nav li .dropdown-menu {
  border-radius: 0px;
}
#co-menu .navbar-default .navbar-nav li .dropdown-menu li a {
  color: #333333;
  padding-top: 10px;
  padding-bottom: 10px;
}
#co-menu .navbar-default .navbar-nav li .dropdown-menu li a:hover, 
#co-menu .navbar-default .navbar-nav li .dropdown-menu li a:focus {
  color: #fff;
}
#co-menu .navbar-default .navbar-nav .open a:hover, 
#co-menu .navbar-default .navbar-nav .open a:focus {
  color: #fff;
}

#co-search {
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
  left: 0;
  opacity: 1;
  position: fixed;
  top: 0;
  transform: translateY(-100%) scale(0);
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  width: 100%;
  z-index: 99999;
}
#co-search .co-search-area {
  display: inline;
  float: left;
  width: 100%;
  padding: 20% 0;
  text-align: center;
}
#co-search .co-search-area .co-search-close {
  border: none;
  color: #fff;
  display: inline-block;
  font-size: 25px;
  outline: none;
  height: 50px;
  line-height: 50px;
  position: absolute;
  right: 100px;
  text-align: center;
  top: 50px;
  width: 50px;
}
#co-search .co-search-area .co-search-form input[type="search"] {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  font-size: 45px;
  font-family: "Montserrat", sans-serif;
  height: 100px;
  outline: medium none;
  text-align: center;
  width: 100%;
}

#co-search.co-search-open {
  transform: translateY(0) scale(1);
}

#co-menu .navbar-header .navbar-brand i {
  color: #01bafd;
}
#co-menu .navbar-default .navbar-nav li > a:hover, 
#co-menu .navbar-default .navbar-nav li > a:focus {
  border-color: #01bafd;
  color: #01bafd;
}
#co-menu .navbar-default .navbar-nav li .dropdown-menu {
  border-top: 2px solid #01bafd;
}
#co-menu .navbar-default .navbar-nav li .dropdown-menu li a:hover, 
#co-menu .navbar-default .navbar-nav li .dropdown-menu li a:focus {
  background-color: #01bafd;
}
#co-menu .navbar-default .navbar-nav .open a:hover, 
#co-menu .navbar-default .navbar-nav .open a:focus {
  background-color: #01bafd;
}

#co-menu .navbar-default .navbar-nav > .active > a, 
#co-menu .navbar-default .navbar-nav > .active > a:hover, 
#co-menu .navbar-default .navbar-nav > .active > a:focus {
  color: #01bafd;
  border-bottom: 2px solid #01bafd;
  background-color: transparent;
}

#co-search .co-search-area .co-search-close {
  background-color: #01bafd;
}


/*==================SLIDER SECTION====================*/

#co-slider {
  display: inline;
  float: left;
  width: 100%;
}
#co-slider .co-slider-single {
  display: inline;
  float: left;
  width: 100%;
  position: relative;
}
#co-slider .co-slider-single .co-slider-img {
  display: inline;
  float: left;
  width: 100%;
  height: 500px;
}
#co-slider .co-slider-single .co-slider-img:after {
  background-color: rgba(0, 0, 0, 0.5);
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#co-slider .co-slider-single .co-slider-img figure {
  height: 100%;
  width: 100%;
}
#co-slider .co-slider-single .co-slider-img figure img {
  width: 100%;
  height: 100%;
}
#co-slider .co-slider-single .co-slider-content {
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  padding: 0 15%;
  width: 100%;
  text-align: center;
  height: 100%;
}
#co-slider .co-slider-single .co-slider-content h4 {
  letter-spacing: 1px;
  margin-bottom: 0;
}
#co-slider .co-slider-single .co-slider-content span {
  display: inline-block;
  height: 1px;
  width: 100px;
}
#co-slider .co-slider-single .co-slider-content h2 {
  font-size: 50px;
  line-height: 80px;
  margin-bottom: 10px;
}
#co-slider .co-slider-single .co-slider-content p {
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 28px;
}
#co-slider .co-slider-single .co-slider-content a {
  margin-top: 25px;
}
#co-slider .slick-prev,
#co-slider .slick-next {
  height: 60px;
  width: 60px;
}
#co-slider .slick-prev:before,
#co-slider .slick-next:before {
  color: #fff;
  font-size: 25px;
}

#co-slider .co-slider-single .co-slider-content span {
  background-color: #01bafd;
}
#co-slider .slick-prev,
#co-slider .slick-next {
  background-color: #01bafd;
}

/*==================SERVICE SECTION====================*/

#co-service {
  display: inline;
  float: left;
  margin-top: -80px;
  width: 100%;
}
#co-service .co-service-area {
  display: inline;
  float: left;
  width: 100%;
}
#co-service .co-service-area .co-service-single {
  background-color: #01bafd;
  color: #fff;
  display: inline;
  float: left;
  padding: 35px 25px;
  text-align: center;
  width: 33.33%;
}
#co-service .co-service-area .co-service-single:nth-child(2) {
  background-color: #2ecc71;
}
#co-service .co-service-area .co-service-single:nth-child(3) {
  background-color: #45a0de;
}
#co-service .co-service-area .co-service-single span {
  font-size: 30px;
}
#co-service .co-service-area .co-service-single h3 {
  font-size: 25px;
}
#co-service .co-service-area .co-service-single p {
  font-weight: lighter;
}


/*==================ABOUT SECTION====================*/

#co-about-us {
  display: inline;
  float: left;
  width: 100%;
  padding: 100px 0;
}
#co-about-us .co-about-us-area {
  display: inline;
  float: left;
  width: 100%;
}
#co-about-us .co-about-us-area .co-about-us-left {
  display: inline;
  float: left;
  width: 100%;
}
#co-about-us .co-about-us-area .co-about-us-left h2 {
  font-size: 40px;
  margin-bottom: 20px;
  text-align: left;
}
#co-about-us .co-about-us-area .co-about-us-left ul {
  margin-left: 25px;
  margin-bottom: 15px;
}
#co-about-us .co-about-us-area .co-about-us-left ul li {
  line-height: 30px;
  list-style: circle;
}
#co-about-us .co-about-us-area .co-about-us-right {
  display: inline;
  float: left;
  width: 100%;
  display: block;
  width: 100%;
  background-color: #ccc;
}
#co-about-us .co-about-us-area .co-about-us-right a {
  display: block;
  width: 100%;
  position: relative;
}
#co-about-us .co-about-us-area .co-about-us-right a img {
  width: 100%;
}
#co-about-us .co-about-us-area .co-about-us-right a:after {
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
  color: #ddd;
  content: '\f04b';
  font-family: fontAwesome;
  font-size: 50px;
  left: 0;
  padding-top: 27%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

/*==== about us dynamic video player ====*/
#about-video-popup {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  text-align: center;
  bottom: 0;
  z-index: 99999;
}
#about-video-popup span {
  color: #fff;
  cursor: pointer;
  float: right;
  font-size: 30px;
  margin-right: 50px;
  margin-top: 50px;
}
#about-video-popup iframe {
  background: url(../images/loader.gif) center center no-repeat;
  margin: 10% auto;
  width: 650px;
  height: 450px;
}

.co-title {
  display: inline;
  float: left;
  text-align: center;
  width: 100%;
}
.co-title h2 {
  color: #000;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.co-title p {
  color: #555;
  letter-spacing: 0.3px;
  line-height: 1.7;
  padding: 0 120px;
}


/*==================LATEST COURSES SECTION====================*/

#co-latest-courses {
  background-color: #333;
  display: inline;
  float: left;
  padding: 100px 0;
  width: 100%;
}
#co-latest-courses .co-latest-courses-area {
  display: inline;
  float: left;
  width: 100%;
}
#co-latest-courses .co-latest-courses-area .co-title h2 {
  color: #fff;
}
#co-latest-courses .co-latest-courses-area .co-latest-courses-content {
  display: inline;
  float: left;
  margin-top: 50px;
  width: 100%;
}
#co-latest-courses .co-latest-courses-area .co-latest-courses-content .slick-slide {
  outline: none;
}
#co-latest-courses .co-latest-courses-area .co-latest-courses-content .slick-dots li {
  background-color: #fff;
  border-radius: 4px;
  height: 8px;
  width: 20px;
}
#co-latest-courses .co-latest-courses-area .co-latest-courses-content .slick-dots li button {
  display: none;
}

.co-latest-course-single {
  background-color: #fff;
  display: inline;
  float: left;
  width: 100%;
}
.co-latest-course-single .co-latest-course-img {
  display: inline;
  float: left;
  width: 100%;
}
.co-latest-course-single .co-latest-course-img a {
  display: block;
}
.co-latest-course-single .co-latest-course-img a img {
  width: 100%;
}
.co-latest-course-single .co-latest-course-img .co-latest-course-imgcaption {
  background-color: #f8f8f8;
  display: inline;
  float: left;
  padding: 10px 15px;
  width: 100%;
}
.co-latest-course-single .co-latest-course-img .co-latest-course-imgcaption a {
  display: inline-block;
  float: left;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.co-latest-course-single .co-latest-course-img .co-latest-course-imgcaption a {
  font-size: 11px;
}
.co-latest-course-single .co-latest-course-single-content {
  display: inline;
  float: left;
  width: 100%;
  padding: 15px;
}
.co-latest-course-single .co-latest-course-single-content h3 {
  color: #333;
  line-height: 1.4;
}
.co-latest-course-single .co-latest-course-single-content h3 a {
  color: #333;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.co-latest-course-single .co-latest-course-single-content .co-latest-course-single-contbottom {
  border-top: 1px solid #ccc;
  display: inline;
  float: left;
  margin-top: 15px;
  padding-top: 15px;
  width: 100%;
}
.co-latest-course-single .co-latest-course-single-content .co-latest-course-single-contbottom .co-course-details {
  display: inline-block;
  float: left;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.co-latest-course-single .co-latest-course-single-content .co-latest-course-single-contbottom .co-course-details:hover, 
.co-latest-course-single .co-latest-course-single-content .co-latest-course-single-contbottom .co-course-details:focus {
  color: #333;
}
.co-latest-course-single .co-latest-course-single-content .co-latest-course-single-contbottom .co-course-price {
  display: inline-block;
  float: right;
}

#co-latest-courses .co-latest-courses-area .co-latest-courses-content .slick-dots .slick-active {
  background-color: #01bafd;
}

#co-latest-courses .co-latest-courses-area .co-latest-courses-content .slick-arrow {
  background-color: #01bafd;
}

.co-latest-course-single .co-latest-course-img .co-latest-course-imgcaption a:hover, 
.co-latest-course-single .co-latest-course-img .co-latest-course-imgcaption a:focus {
  color: #01bafd;
}
.co-latest-course-single .co-latest-course-single-content h3 a:hover, 
.co-latest-course-single .co-latest-course-single-content h3 a:focus {
  color: #01bafd;
}
.co-latest-course-single .co-latest-course-single-content .co-latest-course-single-contbottom .co-course-details {
  color: #01bafd;
}

/*==================FOOTER====================*/

#co-footer {
  display: inline;
  float: left;
  width: 100%;
}
#co-footer .co-footer-top {
  background-color: #333;
  display: inline;
  float: left;
  padding: 50px 0;
  width: 100%;
}
#co-footer .co-footer-top .co-footer-top-area {
  display: inline;
  float: left;
  width: 100%;
}
#co-footer .co-footer-top .co-footer-top-area .co-footer-widget {
  display: inline;
  float: left;
  width: 100%;
}
#co-footer .co-footer-top .co-footer-top-area .co-footer-widget h4 {
  color: #fff;
  margin-bottom: 15px;
  text-transform: uppercase;
}
#co-footer .co-footer-top .co-footer-top-area .co-footer-widget ul li a {
  color: #f9f9f9;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  padding: 5px 0 5px 15px;
  position: relative;
  text-transform: capitalize;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#co-footer .co-footer-top .co-footer-top-area .co-footer-widget ul li a:before {
  content: "\f101";
  font-family: FontAwesome;
  left: 0;
  position: absolute;
  top: 5px;
}
#co-footer .co-footer-top .co-footer-top-area .co-footer-widget ul li a:hover, 
#co-footer .co-footer-top .co-footer-top-area .co-footer-widget ul li a:focus {
  margin-left: 5px;
}
#co-footer .co-footer-top .co-footer-top-area .co-footer-widget p {
  color: #f9f9f9;
}

#co-footer .co-footer-top .co-footer-top-area .co-footer-widget p {
  font-weight: lighter;
  letter-spacing: 0.5px;
}
#co-footer .co-footer-bottom {
  background-color: #222;
  display: inline;
  float: left;
  padding: 25px 0;
  width: 100%;
}
#co-footer .co-footer-bottom .co-footer-bottom-area {
  display: inline;
  float: left;
  text-align: center;
  width: 100%;
}
#co-footer .co-footer-bottom .co-footer-bottom-area p {
  color: #fff;
  margin-bottom: 0;
  letter-spacing: 0.3px;
}
#co-footer .co-footer-bottom .co-footer-bottom-area p a {
  color: #fff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#co-footer .co-footer-bottom .co-footer-bottom-area p a:hover, 
#co-footer .co-footer-bottom .co-footer-bottom-area p a:focus {
  color: #01bafd;
}

#co-footer .co-footer-top .co-footer-top-area .co-footer-widget ul li a:hover, 
#co-footer .co-footer-top .co-footer-top-area .co-footer-widget ul li a:focus {
  color: #01bafd;
}
