{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
{% include 'shared/nav.html' %}
  <!-- Start Slider -->
  <section id="co-slider">
    <!-- Start single slider item -->
    <div class="co-slider-single">
      <div class="co-slider-img">
        <figure>
          <img src="{% static 'images/background-1.jpg' %}" alt="img">
        </figure>
      </div>
      <div class="co-slider-content">
        <h4>Welcome To Coursera</h4>
        <span></span>
        <h2>World's best courses, online</h2>
        <p>Coursera provides universal access to the world’s best education, partnering with top universities and organizations to offer courses online.</p>
        <a href="#" class="co-read-more-btn">Read More</a>
      </div>
    </div>
    <!-- Start single slider item -->
    <!-- Start single slider item -->
    <div class="co-slider-single">
      <div class="co-slider-img">
        <figure>
          <img src="{% static 'images/background-2.jpg' %}" alt="img">
        </figure>
      </div>
      <div class="co-slider-content">
        <h4>Welcome To Coursera</h4>
        <span></span>
        <h2>World's best courses, online</h2>
        <p>Coursera provides universal access to the world’s best education, partnering with top universities and organizations to offer courses online.</p>
        <a href="#" class="co-read-more-btn">Read More</a>
      </div>
    </div>
    <!-- Start single slider item -->
    <!-- Start single slider item -->
    <div class="co-slider-single">
      <div class="co-slider-img">
        <figure>
          <img src="{% static 'images/background-3.jpg' %}" alt="img">
        </figure>
      </div>
      <div class="co-slider-content">
        <h4>Welcome To Coursera</h4>
        <span></span>
        <h2>World's best courses, online</h2>
        <p>Coursera provides universal access to the world’s best education, partnering with top universities and organizations to offer courses online.</p>
        <a href="#" class="co-read-more-btn">Read More</a>
      </div>
    </div>
    <!-- Start single slider item -->    
  </section>

  <!-- Start service  -->
  <section id="co-service">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="co-service-area">
            <!-- Start single service -->
            <div class="co-service-single">
              <span class="fa fa-book"></span>
              <h3>Coursework</h3>
              <p>Each course is like an interactive textbook, featuring pre-recorded videos, quizzes, and projects.</p>
            </div>
            <!-- Start single service -->
            <!-- Start single service -->
            <div class="co-service-single">
              <span class="fa fa-users"></span>
              <h3>Help & Support</h3>
              <p>Connect with thousands of other learners and debate ideas, discuss course material, and get help mastering concepts.</p>
            </div>
            <!-- Start single service -->
            <!-- Start single service -->
            <div class="co-service-single">
              <span class="fa fa-certificate"></span>
              <h3>Certificates</h3>
              <p>Earn official recognition for your work, and share your success with friends, colleagues, and employers.</p>
            </div>
            <!-- Start single service -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End service  -->

  <!-- Start about us -->
  <section id="co-about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="co-about-us-area">           
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="co-about-us-left">
                  <!-- Start Title -->
                  <div class="co-title">
                    <h2>About Us</h2>              
                  </div>
                  <!-- End Title -->
                  <p>Coursera is an education platform that partners with top universities and organizations worldwide, to offer courses online for anyone to take.</p>
                  <ul>
                    <li>Discover a course and sign up today.</li>
                    <li>Learn on your own schedule.</li>
                    <li>Achieve your goals.</li>
                    <li>Effectiveness of online learning.</li>
                    <li>Mastery learning.</li>
                  </ul>
                  <p>Coursera provides universal access to the world’s best education, partnering with top universities and organizations to offer courses online.</p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="co-about-us-right">                            
                <a id="co-abtus-video" href="https://www.youtube.com/embed/mnMm8RcM4M8" target="cotube-video">
                  <img src="{% static 'images/about-us.jpg' %}" alt="img">
                </a>                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End about us -->

  <!-- Start latest course section -->
  <section id="co-latest-courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="co-latest-courses-area">
            <!-- Start Title -->
            <div class="co-title">
              <h2>Latest Courses</h2>
            </div>
            <!-- End Title -->
            <!-- Start latest course content -->
            <div id="co-latest-course-slide" class="co-latest-courses-content">
              <div class="col-lg-3 col-md-3 col-xs-12">
                <div class="co-latest-course-single">
                  <figure class="co-latest-course-img">
                    <a href="#"><img src="{% static 'images/sample-course.jpg' %}" alt="img"></a>
                    <figcaption class="co-latest-course-imgcaption">
                      <a href="#">Standford University</a>
                    </figcaption>
                  </figure>
                  <div class="co-latest-course-single-content">
                    <h5><a href="#">Machine Learning</a></h5>
                    <div class="co-latest-course-single-contbottom">
                      <a class="co-course-details" href="#">1 Course</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-xs-12">
                <div class="co-latest-course-single">
                  <figure class="co-latest-course-img">
                    <a href="#"><img src="{% static 'images/sample-course.jpg' %}" alt="img"></a>
                    <figcaption class="co-latest-course-imgcaption">
                      <a href="#">University of California, San Diego</a>
                    </figcaption>
                  </figure>
                  <div class="co-latest-course-single-content">
                    <h5><a href="#">Powerful mental tools</a></h5>
                    <div class="co-latest-course-single-contbottom">
                      <a class="co-course-details" href="#">1 Course</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-xs-12">
                <div class="co-latest-course-single">
                  <figure class="co-latest-course-img">
                    <a href="#"><img src="{% static 'images/sample-course.jpg' %}" alt="img"></a>
                    <figcaption class="co-latest-course-imgcaption">
                      <a href="#"> University of Michigan</a>
                    </figcaption>
                  </figure>
                  <div class="co-latest-course-single-content">
                    <h5><a href="#">Programming for Everybody</a></h5>
                    <div class="co-latest-course-single-contbottom">
                      <a class="co-course-details" href="#">1 Course</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-xs-12">
                <div class="co-latest-course-single">
                  <figure class="co-latest-course-img">
                    <a href="#"><img src="{% static 'images/sample-course.jpg' %}" alt="img"></a>
                    <figcaption class="co-latest-course-imgcaption">
                      <a href="#">Johns Hopkins University</a>
                    </figcaption>
                  </figure>
                  <div class="co-latest-course-single-content">
                    <h5><a href="#">R Programming</a></h5>
                    <div class="co-latest-course-single-contbottom">
                      <a class="co-course-details" href="#">1 Course</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-xs-12">
                <div class="co-latest-course-single">
                  <figure class="co-latest-course-img">
                    <a href="#"><img src="{% static 'images/sample-course.jpg' %}" alt="img"></a>
                    <figcaption class="co-latest-course-imgcaption">
                      <a href="#">École Polytechnique Fédérale de Lausanne</a>
                    </figcaption>
                  </figure>
                  <div class="co-latest-course-single-content">
                    <h5><a href="#">Functional Programming</a></h5>
                    <div class="co-latest-course-single-contbottom">
                      <a class="co-course-details" href="#">1 Course</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-xs-12">
                <div class="co-latest-course-single">
                  <figure class="co-latest-course-img">
                    <a href="#"><img src="{% static 'images/sample-course.jpg' %}" alt="img"></a>
                    <figcaption class="co-latest-course-imgcaption">
                      <a href="#">Stanford University</a>
                    </figcaption>
                  </figure>
                  <div class="co-latest-course-single-content">
                    <h5><a href="#">Algorithms: Design and Analysis, Part 1</a></h5>
                    <div class="co-latest-course-single-contbottom">
                      <a class="co-course-details" href="#">1 Course</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End latest course content -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End latest course section -->
{% include 'shared/footer.html' %}
{% endblock %}