{% load static %}
<!-- Start menu -->
  <section id="co-menu">
    <nav class="navbar navbar-default" role="navigation">  
      <div class="container">
        <div class="navbar-header">
          <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- LOGO -->
          <a class="navbar-brand" href="{% url 'coursera:index' %}">
          	<i class="fa fa-university"></i><span>Coursera</span>
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
            <li class="active"><a href="{% url 'coursera:index' %}">Home</a></li>
            <li><a href="">Courses</a></li>            
            <li><a href="">Institutions</a></li>
            <li><a href="#" id="co-search-icon"><i class="fa fa-search"></i></a></li>
          </ul>                     
        </div><!--/.nav-collapse -->        
      </div>     
    </nav>
  </section>
  <!-- End menu -->
  <!-- Start search box -->
  <div id="co-search">
    <div class="co-search-area">      
      <button class="co-search-close"><span class="fa fa-close"></span></button>
      <div class="container">
        <div class="row">
          <div class="col-md-12">            
            <form class="co-search-form" action="{% url 'coursera:search' %}" method="post">
                {% csrf_token %}
              <input type="search" placeholder="Search Any Topic" name="search-query" required="required">              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End search box -->